.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  height: 100vh;
  padding: 5rem;
}

.widget {
  background: lightgoldenrodyellow;
  border: 1px solid lightcoral;
  display: inline-block;
  margin-left: 4rem;
  padding: 4px 8px;
  border-radius: 2px;
  width: 6rem;
}
